<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="contents" >
      <div id="map" style="width:100%;height:380px;"></div>
      
      <div class="location">
        <span><input name = "lat" type="number" value="37.498362123762" oninput = "posRemote(this)"></span> 
        <span><input name = "lng" type="number" value="127.03451238865" oninput = "posRemote(this)"></span>
      </div>
    </div> 
  </body>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%= javascript_Key %>" ></script>

    <%-include('../public/javascripts/./common.js') %> 
    <%-include('../public/javascripts/map.js') %> 
    
</html>
